					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							
							<!--begin::Container-->
							<div class="container">

								<!-- begin::Card-->
								<div class="card card-custom overflow-hidden">
									<div class="card-body p-0">
										<!-- begin: Invoice-->
										<!-- begin: Invoice header-->
										<!-- begin acction button-->
										<!-- begin acction button-->
										<div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0">
											<div class="col-md-9 d-flex flex-column align-items-md-end px-0">
														  <!--begin::Dropdown-->
										  <div class="dropdown dropdown-inline mr-2">
											  <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											  <span class="svg-icon svg-icon-md">
												  <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
							 					  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														  <rect x="0" y="0" width="24" height="24" />
														  <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
														  <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
													  </g>
												  </svg>
												  <!--end::Svg Icon-->
											  </span>Action</button>
											  <!--begin::Dropdown Menu-->
											  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
												  <!--begin::Navigation-->
												  <ul class="navi flex-column navi-hover py-2">
													  <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
													  <li class="navi-item">
														  
															  <span class="navi-icon">
																  
															  </span>
															  <!--<button type="button" class="btn btn-hover-bg-success btn-text-success btn-hover-text-white border-0 font-weight-bold headerapprove" style="width:100%">Accept</button>-->
														  
													  </li>
													  <li class="navi-item">
														  
														  <span class="navi-icon">
														  
														  </span>
														  <button type="button" class="btn btn-hover-bg-success btn-text-primary btn-hover-text-white border-0 font-weight-bold"   id="createbill"  onclick="redirectToCreateInvoicePage()" style="width:100%">Create Invoice</button>

													   </li>
													   <li class="navi-item">
														  
														  <span class="navi-icon">
														  
														  </span>
													  
													   </li>
													   <li class="navi-item">
														  
														  <span class="navi-icon">
														  
														  </span>
													  </li>

												  
												  
												  </ul>
												  <!--end::Navigation-->
											  </div>
											  <!--end::Dropdown Menu-->
										  </div>


 
											  </div>

										  <!-- end action-->
											 
										  <div class="col-md-9">
											  <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row pt-6">
												  <h1 class="display-4 font-weight-boldest mb-10 opacity-80" >Item Fulfillment <br> <span class="label label-lg font-weight-bold label-light-primary label-inline"> <%= status %> </h1>
												  
												  
											  
												   <!-- 													
												  <div class="d-flex flex-column align-items-md-end px-0">
													  begin::Logo
													  <a href="#" class="mb-5">
														  <img src="assets/media/project-logos/3.png" class="h-100px rounded" alt="" />
													  </a>
													  end::Logo
													  <span class="d-flex flex-column align-items-md-end opacity-70">
														  <span>Cecilia Chapman, 711-2880 Nulla St, Mankato</span>
														  <span>Mississippi 96522</span>
													  </span>
												  </div> -->
											  </div>
											  <div class="border-bottom w-100"></div>
											  <div class="d-flex justify-content-between  pt-6">
												  <div class="d-flex flex-column flex-root">
													  <span class="font-weight-bolder mb-2 ">DATE</span>
													  <span class="opacity-70"><%= date %></span>
												  </div>
												  <div class="d-flex flex-column flex-root">
													  <span class="font-weight-bolder mb-2">ITEM RECEIPT #</span>
													  <span class="opacity-70"><%= tranId %></span>
												  </div>
												  <div class="d-flex flex-column flex-root">
													  <span class="font-weight-bolder mb-2">LOCATION</span>
													  <span class="opacity-70">ABC, P.O. Box 283 8562 Fusce RD.
													  <br />Fredrick Nebraska 20620</span>
												  </div>
											  </div>
										  </div>
									  </div>
										<!-- end: Invoice header-->
										<!-- begin: Invoice body-->
										<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-11">
                                                <div id="load_btn_container" class="btn col-md-12 btn-hover-primary bg-primary h-38px btn_loaditems text-white text-center">Item Details<i class="fas fa-caret-right text-white icon-2x" style="float: right;"></i></div>
												<div class="col-md-12" id="table_container" style="box-shadow: 0 0 10px 0 rgba(34, 30, 30, 0.178); display: none; padding-bottom: 10px;" >

												<div class="table-responsive">
													<table class="table" id="table-main">
														
													</table>
												</div>
											</div>
											</div>
										</div>
										<!-- end: Invoice body-->
										<!-- begin: Invoice footer-->
										<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
												<div class="table-responsive">
													<table class="table" id="formtable">
														<thead>
															<tr>
																
																<th class="font-weight-bold text-muted text-uppercase">Total  Qty</th>
																<th class="font-weight-bold text-muted text-uppercase">Total  Amount</th>
															</tr>
														</thead>
														<tbody>
															<tr>
															
																<td class="font-size-h3" id="totalqty"> </td>
																<td class="font-size-h3" id="totalamount"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- end: Invoice footer-->
										<!-- begin: Invoice action-->
										<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
												<div class="d-flex justify-content-between">

													
													<!-- <button type="submit" class="btn btn-light-success font-weight-bold headerapprove" >Accept</button>-->
                                                      
													<!--<button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button>-->
													<button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Invoice</button>
                                                   <!-- <button type="button" class="btn btn-hover-bg-dark btn-text-dark btn-hover-text-white border-0 font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button>-->

                                                </div>
											</div>
										</div>
										<!-- end: Invoice action-->
										<!-- end: Invoice-->
									</div>
								</div>
								<!-- end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->

  <!-- Modal -->
  <div class="modal fade" id="myModaldate" role="dialog">
	<div class="modal-dialog">
	
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Change Date To all Items</h5>
		
		
		</div>
		<div class="modal-body">
			<NLFORM>
				<form method="POST" >
					<div id="totalcount" style="display:none;">

					</div>
					<input type="date" id="changeallitemdate" class="form-control changeallitemdate" name="changeallitemdate" value="">
		
			<table class="table modeltable">
				<thead>
					<tr>
						<th scope="col" style="display:none;">line #</th>
						<th scope="col">Product</th>
						<th scope="col">Qty</th>
						<th scope="col">Rate</th>
						<th scope="col">Remove</th>
					</tr>
				</thead>
				<tbody class="table-body">

				</tbody>
		
			</table>
			<button type="submit" class="btn btn-primary" name="save" value="linedate">Save</button>
		</form>
	</NLFORM>
		</div>

		<div class="modal-footer">
	   
		</div>
	</div>
	  
	</div>
  </div>
   <!-- END  Modal -->
   <NLFORM>
		<form method="POST" id="approveform">
			<div id="approvepost" style="display: none;">
			</div>
		</form>
	</NLFORM>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

	

		     function redirectToCreateInvoicePage(){

				var linesToBeInvoice = GetSelected()

				console.log("linesToBeInvoice.length",linesToBeInvoice.length)

				if(linesToBeInvoice.length>0){
					window.localStorage.setItem('selectedLines', JSON.stringify(linesToBeInvoice));
					window.open('<%-viewBill %>')
				}

				
			 }

			 function GetSelected() {

				var selectedLines = []

				var grid = document.getElementById("table-main");

					for (var i = 0, row; row = grid.rows[i]; i++) {
						var checkBoxes = grid.rows[i].getElementsByTagName("INPUT");
						console.log("checkboxes length",checkBoxes.length)
							// for (var j = 0; j < checkBoxes.length; j++) {
								if(checkBoxes[0].checked){
									console.log("row"+i+"is selected!")
									console.log("itemName","itemName"+(i-1))
									let itemName = document.getElementById("itemName"+(i-1));
									itemName = itemName ? itemName.innerHTML : ''
									let billQty = document.getElementById("billQty"+(i-1));
									billQty = billQty ? billQty.innerHTML : ''
									let ordQty = document.getElementById("ordQty"+(i-1));
									ordQty = ordQty ? ordQty.innerHTML : ''
									let rate = document.getElementById("rate"+(i-1));
									rate = rate ? rate.innerHTML : ''
									let amount = document.getElementById("amount"+(i-1));
									amount = amount ? amount.innerHTML : ''
									selectedLines.push({
										itemName : itemName,
										billQty : billQty,
										ordQty : ordQty,
										billQty : billQty,
										rate : rate,
										amount : amount
									})
								}	
						// }
					  
					}

					console.log("selectedLines",selectedLines)

					return selectedLines
		
			}



			function handleCheckBox(i) {

				// console.log("handleCheckBox triggered")
				
				// var checkBox = document.getElementById("select-check").checked;

				// console.log("checkBox triggered",checkBox)
				
				// if(checkBox==true){
				// 	var billQty=document.getElementById("billQty"+i).innerHTML;  
				// 	var ordQty=document.getElementById("ordQty"+i).innerHTML; 
				// 	var itemName=document.getElementById("itemName"+i).innerHTML; 
				// 	console.log("itemName",itemName)
				// 	console.log("ordQty",ordQty)

				// 	selectedLines.push({item : itemName})

				// 	// // alert(billQty)
				// 	// // alert(ordQty)
				// 	// if(billQty==ordQty){
				// 	// //	alert("equal")
				// 	// 	//document.getElementById("createbill").disabled = true;
				// 	// 	selectedLines.push(itemName)
				// 	// }
				// 	// else{
				// 	// 	//do nothing
				// 	// 	//alert("not equal")
				// 	// }
				// }
				// else{
				// 	//document.getElementById("createbill").disabled = false;
				// }
			

			}

			// $(".select-check").change(function() {
			// 	if(this.checked) {
			// 		//Do stuff
			// 		alert("checkbox is checked..")
			// 	}
			// 	else{
			// 		alert("checkbox is not checked..")
			// 	}
			// });

		// // checkbox = document.getElementById('conducted');
		// var checkBox = document.getElementsByClassName("select-check");

		// checkBox.addEventListener('change', e => {

		// 	if(e.target.checked){
		// 		//do something
		// 		alert("checkbox is checked..")
		// 	}

		// });

		// var checkBox = document.getElementsByClassName("select-check");

		// 	if (checkBox.checked == true){
		// 		alert("checkbox is checked..")
		// 	} else {
		// 		alert("checkbox is not checked..")
		// 	}

	$(document).ready(function(){

		document.getElementById('load_btn_container').click();




		
	})

	  $(function () {

		$("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
        });

	 //

	 // var Nodata ="<tr><th colspan='10' style='font-weight:normal;'>No Data Available In Table</th></tr>"
	 // $('#table-main tbody').append(Nodata);

	 $("#modaldate").click(function () {

		$('.modeltable .table-body').empty();
		var counttd=0
		var nodata='<tr colspan="7"><td>No data Selected </td></tr>'
 		     //Loop through all checked CheckBoxes in GridView.
            $("#table-main tbody input[type=checkbox]:checked").each(function () {
				
                // var row = $(this).closest("tr")[0];
				//var name = $('.txt-td').val();
				linenumber=$(this).parents("tr").find(".linenumber").text();
                 item =$(this).parents("tr").find(".item").text();
                 qty =$(this).parents("tr").find(".qty").text();
                 rate =$(this).parents("tr").find(".rate").text();
                // amount =$(this).parents("tr").find(".amount").text();
                // itemid=$(this).parents("tr").find(".itemid").text();
                // linenumber=$(this).parents("tr").find(".linenumber").text();
                 td=  '<tr>'
                 td+= '<td style="display:none;" ><input id="modallinenumber" class="form-control" value="'+linenumber+'" name="linenumber'+counttd+'" ></td>'
				 td+= '<td><input id="modalitem" class="form-control" value="'+item+'" name="item'+counttd+'" ></td>'
				 td+= '<td><input id="modalqty" class="form-control" value="'+qty+'" name="qty'+parseInt(linenumber-1)+'" ></td>' 
				 td+= '<td><input id="modalqty" class="form-control" value="'+rate+'" name="rate'+counttd+'" ></td>' 
				 td+='<td><button type="button" class="btn btn-danger removebtntop" id="deltop">-</button></td>'
                 td+='</tr>' 
				 counttd++ 
				 $('.modeltable .table-body').append(td);
            });
			if(counttd==0)
			{
				$('.modeltable .table-body').append(nodata);
			}

			total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
			$('#totalcount').append(total);

        })

		$(".headerapprove").click(function () 
		{
			
          var counttd=0
	     //Loop through all checked CheckBoxes in GridView.
	     $("#table-main tbody input[type=checkbox]:checked").each(function () {
		 // var row = $(this).closest("tr")[0];
		 //var name = $('.txt-td').val();
		 linenumber=$(this).parents("tr").find(".linenumber").text();
		  td='<input type="text" id="changeallitemdate" class="form-control changeallitemdate" name="lineapprove'+counttd+'" value="'+linenumber+' " >'
		  $('#approvepost').append(td);
		  counttd++
		 });
		 td='<button type="submit" class="btn btn-light-success font-weight-bold" id="btnapprove" name="save" value="approve">Approve</button>'
		 $('#approvepost').append(td);
		 total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
	       $('#approvepost').append(total);
		 console.log("check")
		 $("#btnapprove").click();
		 const form  = document.getElementById('#approveform');
         // form.addEventListener('submit', (event) => {
           // handle the form data
		  // form.submit();
            // });
	      
         })


   });

   $('#load_btn_container').click(function () 
        { 
			
			function setTimeout(milliseconds){   
            var date = new Date();
            date.setMilliseconds(date.getMilliseconds() + milliseconds);
            while(new Date() < date){
            }
            }

			var  startTime = Date.now()/1000;

			
           if($('.btn_loaditems').html()=='Item Details<i class="fas fa-caret-down  icon-2x" style="float:right;"></i>')
           {
            $('#table_container').css('display','none');
            $('.btn_loaditems').empty();
            $('.btn_loaditems').append('Item Details<i class="fas fa-caret-right  icon-2x" style="float:right;"></i>');
            $('#table-main').empty();
            $('#btn_save').hide();
            $('#btncancel').hide();
            return
           }
           $('.btn_loaditems').empty();
           $('.btn_loaditems').append('Item Details<i class="fas fa-caret-down  icon-2x" style="float:right;"></i>');
           $('#table_container').css('display','block');
           $('#table-main').empty();
           $('#table-main').append('<div class="col-md-12"><p text-xl-left></p> <p style="text-align: center">Please wait.. </p><p></p> <div style=" " class=" spinner spinner-primary spinner-lg mr-45  spinner-center"></div>   </div>');
         

           var loc=window.location.href
                var url = new URL(loc).href;
                urlSplit=url.split('=')
                console.log("url",urlSplit)
              
                var tableData='<thead style="text-align: center;">'
                var postForm={};
                var record=""
               
               

               
                postForm = { //Fetch form data
                    
                        };
					
                                var poInternalId = urlSplit[1]

          

           $.ajax({ 
                type      : 'GET', //Method type
                url       : '/itemfulfillmentForm/itemdetail&id='+poInternalId, //Your form processing file URL
                data      : JSON.stringify(postForm), //Forms name
                contentType: "application/json; charset=utf-8",
                success   : function(data) 
                            {
								
								//setTimeout(20000) //20 sec delay
                                
								console.log("data:",data)
                                $('#table-main').empty();

                                var dataParse=data
                                
                                var totalQuantity=0
                                var totalAmount=0


								
								tableData+= '<tr>'
													+'<th data-field="RecordID" id="table-checkAll" class="datatable-cell-center datatable-cell datatable-cell-check">'
													+'<span style="width: 20px;"><label class="checkbox checkbox-single checkbox-all">'
													+'<input type="checkbox"  id="checkboxAll">&nbsp;<span></span></label></span></th>'
													+'<th class="text-right pl-0 font-weight-bold text-muted text-uppercase">S#</th>'
													+'<th class="text-center pl-0 font-weight-bold text-muted text-uppercase">Product</th>'
													+'<th class="text-center font-weight-bold text-muted text-uppercase">Delivered Quantity</th>'
													+'<th class="text-center font-weight-bold text-muted text-uppercase">Billed Quantity</th>'
													+' <th class="font-weight-bold text-muted text-uppercase">Order Quantity</th>'
													+'<th class="font-weight-bold text-muted text-uppercase">Rate</th>'
													+'<th class="font-weight-bold text-muted text-uppercase">Location</th>'
													+'<th class="font-weight-bold text-muted text-uppercase">Amount</th>'

													+'</tr>'
												+'</thead>'  
												+'<tbody>'

													
					var endTime = Date.now()/1000;
					console.log("end",endTime);
				
					duration = endTime-startTime;
					console.log("duration",duration);


					if(duration>5){
						$('#table-main').append('<div class="col-md-12"><p text-xl-left></p> <p style="text-align: center">Request Timeout... &#128532; Please Load again!  </p><p></p>  </div>');
					}

					else{

						for(var i=0; i<data.length; i++)
											{
												tableData+='<tr>'
													if(data[i].values["SUM(quantitybilled)"]==data[i].values["SUM(appliedToTransaction.quantity)"]){
														tableData+='<td data-field="RecordID" class="datatable-cell-center datatable-cell datatable-cell-check"><span style="width: 20px;"><label class="checkbox checkbox-single"><input id="select-check" type="checkbox" disabled>&nbsp;<span></span></label></span></td>'
													}
													else{
														tableData+='<td data-field="RecordID" class="datatable-cell-center datatable-cell datatable-cell-check"><span style="width: 20px;"><label class="checkbox checkbox-single"><input id="select-check" type="checkbox" onChange="handleCheckBox('+i+')">&nbsp;<span></span></label></span></td>'
													}
												tableData+='<td class="pl-0 pt-7 txt-td item" name=item'+parseInt(i+1)+'>'+parseInt(i+1)+'</td>'
                                                 tableData+='<td class="pl-0 pt-7 txt-td item" id="itemName'+i+'" name=item'+parseInt(i+1)+'>'+data[i].values["GROUP(item)"][0].text+'</td>'
                                                 tableData+='<td class="text-center pt-7 qty">'+data[i].values["SUM(quantity)"]+'</td>' 
												 tableData+='<td class="text-center pt-7 qty" id="billQty'+i+'">'+data[i].values["SUM(quantitybilled)"]+'</td>' 
                                                 tableData+='<td class="text-center pt-7 accqty" id="ordQty'+i+'">'+data[i].values["SUM(appliedToTransaction.quantity)"]+'</td>'
												 tableData+='<td class="text-center pt-7 recty id="rate'+i+'">'+data[i].values["SUM(rate)"]+'</td>'
												 tableData+='<td class="text-center pt-7 accqty">'+data[i].values["GROUP(locationnohierarchy)"]+'</td>'
												 tableData+='<td class="text-center pt-7 accqty" id="amount'+i+'">'+data[i].values["SUM(rate)"] * data[i].values["SUM(quantity)"]+'</td>'
												 tableData+='</tr>'
											
												 totalQuantity+=parseInt(data[i].values["SUM(quantity)"])
												 totalAmount+=parseInt(data[i].values["SUM(rate)"] * data[i].values["SUM(quantity)"])
												} 
												 

											tableData+='</tbody>'	


											$('#table-main').append(tableData)

                                    $('#totalqty').text(totalQuantity)
                                    $('#totalamount').text(totalAmount)
									$('#pointernalid').val(poInternalId)


                                    $('#btn_save').show();

									


					}
                        
                                    // if(pageType=='view'){
                                    //     $('#btn_save').hide();
                                    // }

                            }
                            
            });
           

          //fas fa-caret-down
            
        });


//    $(document).ready(function(){
  
//  $(".headerapprove").click(function(){
// // 
//    $.ajax(
//      {
//       url: "/app/site/hosting/restlet.nl?script=432&deploy=1",
//       headers: { 'Access-Control-Allow-Origin': '*' }, 
//       success: function(result){
// 		console.log("chec",result);
// 		ajaxstatus
// 		$("#ajaxstatus").append('Accepted');
//        // result = JSON.parse(result);
        
//         //loadGraphAPI(result[0],result[1],result[2],result[3]);
//       }});
//     });
//   $("#headerapprove").click();
// });

	</script>